*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    position: fixed;
}

.parte-superior {
    width: 1920px;
    height: 120px;
}

.parte-inferior {
    background-color: rgb(18, 9, 68);
    padding: 10px; 
    height: 43px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 9px 40px black;
} 

.cogumelo {
    height: 22px;
    width: 22px; 
}


@font-face {   /* Nova fonte */
    font-family: pixel;
    src: url(Fontes/Daydream.ttf); 
}


.bto {
    margin: 20px;
    color: white;
    font-size: 15px;
    font-family: pixel;
    text-decoration: none;
}

.bto:hover {
    color: rgb(196, 165, 241);
    transition: 1s;
}

/*Sessão do catalogo*/
.catalogosec {
    padding-top: 163px;
    align-items: center;
}

.areacatalogo {
    width: 1920px;
    height: 750px;
    text-align: center;
    background-image: url(Imagens/Seçãocatálogo.png);
}

.confira {
    padding: 0%;
    margin-top: 400px;
    width: 370px;
}