*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    position: fixed;
}

.parte-superior {
    width: 1920px;
    height: 120px;
}

.parte-inferior {
    background-color: rgb(151, 138, 226);
    padding: 16px; 
}

@font-face {   /* Nova fonte */
    font-family: pixel;
    src: url(Fontes/Daydream.ttf); 
}

.bto {
    margin: 20px;
    color: white;
    font-size: larger;
    font-family: pixel;
}

.bto:hover {
    color: rgb(12, 1, 29);

}
