*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    position: fixed;
}

.parte-superior {
    width: 1920px;
    height: 120px;
}

.parte-inferior {
    background-color: rgb(88, 73, 172);
    padding: 14px; 
    display: flex;
    justify-content: center;
} 

.cogumelo {
    height: 22px;
    width: 22px; 
}


@font-face {   /* Nova fonte */
    font-family: pixel;
    src: url(Fontes/Daydream.ttf); 
}


.bto {
    margin: 20px;
    color: white;
    font-size: 15px;
    font-family: pixel;
    text-decoration: none;
}

.bto:hover {
    color: rgb(12, 1, 29);
    transition: 1s;
}
