* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden !important;
}

/*Cabeçalho*/
.partesuperior {
    background-color: rgb(18, 9, 68);
    height: 90px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login {
    margin-left: 50px;
    margin-right: 0%;
}

.btologin {
    height: 32x;
    width: 32px;
    margin-top: 5px;
}

.carrinho {
    margin-left: 17px;
    margin-right: 50px;
}

.kart {
    height: 32px;
    width: 32px;
    margin-top: 5px;
}

.logo {
    margin-right: 50px;
    margin-left: 0%;
}

.JBGD {
    width: 115px;
    margin-top: 5px;
}

.pesquisa {
    background-color: rgb(200, 201, 245);
    border-radius: 10px;
    width: 370px;
    height: 32px;
    display: flex;
    align-items: center;
    box-shadow: 4px 7px 1px black;
}

.txtbuscar {
    background-color: transparent;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    height: 32px;
    width: 191px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

::-webkit-input-placeholder {
    color: black;
}

.lupa {
    width: 22px;
    margin-top: 1px;
    margin-left: 145px;
}

/*Parte inferior do cabeçalho*/
.parteinferior {
    background-color: rgb(59, 47, 133);
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {   /* Nova fonte */
    font-family: pixel;
    src: url(Fontes/dogica.ttf); 
}

.bto {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    font-family: pixel;
}

.bto:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
}